<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Directiva</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <header></header>
    <nav></nav>
    <section>
      <div id="miaplicacion2">
        <!-- <ul>
          <li>{{miarreglo[0]}}</li>
          <li>{{miarreglo[1]}}</li>
          <li>{{miarreglo[2]}}</li>
          <li>{{miarreglo[3]}}</li>
          <li>{{miarreglo[4]}}</li>
          <li v-for="data()">{{miarreglo}}</li>
        </ul> -->

        <!-- <ul>
          <li v-for="({nombre,apellido},index) in miarreglo">
            <span>nombre: {{nombre}} </span>
            <blockquote>apellido: {{apellido}}</blockquote>
          </li>
        </ul> -->

        <h4 >Estudiantes UCE</h4>

        <input type="text" v-model="nombre" v-on:keypress.enter="agregarEstudaite2" />

        <h1>{{nombre}}</h1>

        <hr />

        <h1>Lista Estudiantes</h1>

        <ul>
          <li v-for="({nombre,apellido},index) in miarreglo">
            <span>nombre:  {{index}} - {{nombre}} - </span>
            <!-- <blockquote v-if="apellido !== undefined">apellido: {{apellido}}</blockquote> -->
            <blockquote v-show="apellido !== undefined">apellido2: {{apellido}}</blockquote>
          </li>
        </ul>
      </div>
    </section>
    <footer></footer>

    <script src="/js/vFor.js"></script>
  </body>
</html>
