<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulario</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="../css/estilos.css">
</head>

<body class="cuerpo">
  <header></header>
  <nav></nav>
  <section>
    <div id="miaplicacion2">

      <h1 class="titulo">Ingresa Estudiantes UCE</h1>

      <form class="formulario" action="">


        <div class="form-group">
          <label for="exampleInputEmail1">Nombre: </label>
          <input type="text" class="form-control" v-model="nombre" />

        </div>

        <div class="form-group">
            <label for="">Apellido: </label>
            <input type="text" class="form-control" v-model="apellido" />


        </div>

        <div class="form-group">

            <label for="">Edad: </label>
            <input type="text"  class="form-control" v-model="edad" />

        </div>

        <div class="form-group">

            <label for="">Telefono: </label>
            <input type="text" class="form-control" v-model="telefono" />

        </div>


      </form>

      <div class="botonI">
        <button class="btn btn-primary" v-on:click="ingresar()">Ingresar</button>
      </div>
      
      <hr />

      <div >
        <h2 class="titulo">Lista de Estudiantes</h2>

        

        <ul>
          <li v-for="(estudiante,index) in miarreglo">
            <span >Nombre: {{miarreglo[index].nombre}} {{miarreglo[index].apellido}}, Edad:
              {{miarreglo[index].edad}}</span>
            <blockquote>Telefono: {{miarreglo[index].telefono}}</blockquote>
          </li>
        </ul>
      </div>

    </div>

  </section>
  <footer></footer>

  <script src="/js/vFor.js"></script>
</body>

</html>